body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #001f3f; /* Dark blue background */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('back.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.8;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideUp 1s ease-out;
}

.logo img {
    width: 40%;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group.submit-container {
    display: flex;
    justify-content: center;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.extra-links {
    margin-top: 20px;
    font-size: 14px;
}

.extra-links a {
    color: #007bff;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.extra-links span {
    margin: 0 5px;
}

.social-sign-in {
    margin-top: 20px;
}

.social-sign-in p {
    margin-bottom: 10px;
}

.social-sign-in button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #dd4b39;
    color: white;
    transition: opacity 0.3s;
}

.social-sign-in button:hover {
    opacity: 0.9;
}

.social-sign-in button:nth-child(2) {
    background-color: #3b5998;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
